@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
    background-image: linear-gradient(to left, #0166b4, #3eb8ad);
    color: white;
    padding: 30px;
    text-align: center;
}

header > h2 {
    font-size: 18px;
    font-weight: 600;
}

main > section {
    text-align: center;
    padding-top: 30px;
}

main > section > h2 {
    color: #0166b4;
    padding: 30px;
    text-transform: uppercase;
}

input.sorteado {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 2px #0166b4 solid;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    color: #0166b4;
    font-weight: 600;
    -moz-appearance: textfield;
  appearance: textfield;
}

button#btnVerificar, button#btnAdicionar {
    background-color: #3eb8ad;
    margin: 20px;
    padding: 10px 15px;
    border: 0;
    border-bottom: 3px solid #2d8b84;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 2px;
    
}

button#btnVerificar:hover {
    background-color: #2d8b84;
}

div.grupoJogo {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
}

div.container-jogos {
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 20px;
} 

span {
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 2.4;
    font-weight: 500;
    color: #2b2b2b;
}

p.resultado {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #1b9466;
    padding-bottom: 5px;
}

div#entrarJogos {
    width: 900px;
    margin: auto;
    font-size: 14px;
}

textarea {
    width: 500px;
    font-size: 16px;
    text-align: center;
}